div.static {
    position: static;
    border: 3px solid orange;
}

div.relative {
    position: relative;
    left: 130px;
    border: 3px solid orange;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid orange;
}

div.relativetwo {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid orange;
}

div.absolute {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100px;
    height: 50px;
    border: 3px solid orange;
    background-color: black;
    color: white;
}

img {
    float: left;
}

.one {
    background-color: yellow;
    font-size: 50px;
    color: black;
}
