.mic {
    color: green;
    font-size: 30px;
    text-align: center;
}

p{
    color: purple;
    background-color: gold;
    font-size: 30 px;
}

.adam {
    width: 300px;
    height: 200px;
}